# dependencies
node_modules/

# next.js
.next/
out/

# build
dist/
.vercel/

# cloudflare
.open-next/
.wrangler/
.dev.vars

# env
.env
.env.local
.env.production

# os
.DS_Store
Thumbs.db

# editor
*.swp
*.swo
.vscode/
.idea/

# turborepo
.turbo/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# testing
coverage/
